body{
    color: black;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

    min-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide01{
    background: url(./src/img/slide01/imagem.png) no-repeat;
    display: flex;
}
.slide02{
    background: url(./src/img/slide02/imagem.png) no-repeat;
    display: none;
}
.slide03{
    background: url(./src/img/slide03/imagem.png) no-repeat;
    display: none;
}
.slide04{
    background: url(./src/img/slide04/imagem.png) no-repeat;
    display: none;
}
section{
    display: flex;
    flex-direction: column;
}
section .box{
    background-color: white;
    height: 20em;
    width: 17em;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left: -35em;
}
.saiba1{
    color: red;
}
